# Dépendances
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environnement
.env
.env.local
.env.development
.env.test
.env.production

# Logs
logs
*.log

# Fichiers du système d'exploitation
.DS_Store
Thumbs.db

# Fichiers de couverture de tests
coverage

# Fichiers de build
/build
/dist

# Fichiers temporaires
/tmp
/temp

# IDEs et éditeurs
/.idea
/.vscode
*.swp
*.swo